@import "../mixins";
@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#home__root {
  .height_with_toolbar();
  z-index: 0;
  position: relative;
  h1, h2 {
    .default_font(normal, 22px);
    text-align: center;
    position: absolute;
    color: white;
    padding: 10px 20px;
    background: black;
    border-radius: 5px;
    top: ~"calc(50% - 23px)";
    left: ~"calc(50% - 50px)";
    width: 100px;
  }
  h2 {
    top: 25%;
  }
  .buttonGroup__home {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 100%;
    align-items: flex-end;

    button {
      display: block;
      margin-bottom: 20px;
      .button(auto, 0);
    }
  }
  .animated_background();
}