#toolbar__root {
  display: flex;
  justify-content: space-around;
  height: 30px;
  flex-flow: row wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color:white;
  a {
    font: 500 16px monospace, sans-serif;
    display: block;
    padding: 5px 5px;
    text-align: center;
    cursor: pointer;
    background: black;
    flex: 1;
    &:hover {
      background: rgba(0,0,0,0.8);
      font-weight: 800;
      padding: 8px 5px;
      transition: 0.2s;
    }
    &:active {
      background: rgba(0,0,0,0.6);
    }
  }
}