@import '../../mixins';

.inputPanel__chatSide {
  border-top: 1px solid black;
  display: flex;
  input {
    flex:9;
    font: normal 24px Arial, sans-serif;
    padding-left: 5px;
  }
  button {
    flex:1;
    margin: auto;
    .button;
    height: inherit;
    &:hover {
      background: lightpink;
    }
  };
}