
#usersPanel__chat {
  flex:1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  .userNameItem__usersPanel {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    width: 100%;
    &:hover {
      background-color: #ffdff1;
    }
    &:active {
      background-color: lightpink;
    }
    .username__usersPanel {
      text-overflow: ellipsis;
      max-width: 200px;
      overflow-wrap: break-word;
      padding: 10px;
    }
  }
  .noUsers__usersPanel {
    margin: 25px auto;
    font: bold 22px Arial, sans-serif;
  }
  .bottomBar__usersPanel {
    position: fixed;
    bottom: 20px;
    left: 20px;
    span {
      cursor: pointer;
    }
  }
}